<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/order-detail.css">
<body>
    <div class="main">
        <a class="admin-back-link" href="/admin"><i class="fa-solid fa-arrow-left"></i> Back to Dashboard</a>
        <h4 class="page-title">Order Details</h4>
        <div class="order-details">
            <div class="section-1">
                <!-- Item-section -->
                <div class="item-section">
                    <h4>All Item</h4>
                    <% order.items.forEach(item => { %>
                        <div class="item">
                            <div class="item-image">
                                <img loading="lazy" src="<%= item.product.imageUrl %>" alt="">
                                <p><%= item.product.title %></p>
                            </div>
                            <div class="item-detail">
                                <p>Quantity <br> <span><%= item.quantity %></span></p>
                                <p>Price <br> <span>&#8377;<%= item.price %></span></p>
                            </div>
                        </div>
                    <% }); %>
                </div>
                <div class="summary-section">
                    <div class="order-total">
                        <h4>Summary</h4>
                        <p><strong>Order ID:</strong>&nbsp;&nbsp; <%= order._id %></p>
                        <p><strong>Tnx ID:</strong>&nbsp;&nbsp; <%= order.txnId %></p>
                        <p><strong>Date:</strong>&nbsp;&nbsp; <%= order.date.toString().split(' ').slice(0,4).join(' ') %></p>
                        <p><strong>Total Quantity:</strong>&nbsp;&nbsp; <%= order.totalQuantity %></p>
                        <p><strong>Total Price:</strong>&nbsp;&nbsp; <%= order.totalPrice %></p>
                    </div>
                
                    <!-- Payment Information Section -->
                    <div class="payment-info">
                        <div class="payment-mode">
                            <h4>Payment Mode</h4>
                            <p><%= order.paymentMode %></p>
                        </div>
                        <div class="payment-status">
                            <h4>Payment Status</h4>
                            <p><%= order.paymentStatus %></p>
                        </div>
                    </div>

                    <!-- order-status -->
                     <div class="order-status">
                        <h4>Order Status</h4>
                        <p id="<%= order.orderStatus %>"><%= order.orderStatus %></p>
                     </div>
                </div>
            </div>
            <div class="section-2">
                <!-- Customer Information Section -->
                <div class="customer-info">
                    <h4>Customer Information</h4>
                    <p><strong>Name:</strong> <%= order.address.name %></p>
                    <p><strong>Contact:</strong> <%= order.address.contact %></p>
                    <p><strong>Email:</strong> <%= order.userId.email %></p>
                </div>
                <!-- Shipping Address Section -->
                <div class="shipping-address">
                    <h4>Shipping Address</h4>
                    <p><strong>Address:</strong> <%= order.address.street %></p>
                    <p><strong>City:</strong> <%= order.address.city %></p>
                    <p><strong>State:</strong> <%= order.address.state %></p>
                    <p><strong>Pin Code:</strong> <%= order.address.pincode %></p>
                </div>
            </div>
        </div>
    </div>
</body>